/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Resets */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  /* Colors */
  --bg-color: #080808;
  --second-bg-color: #101010;
  --text-color: whitesmoke;
  --main-color: #6f00ff;

  /* Fonts */
  --ff: "Poppins", sans-serif;
  --fs: clamp(1rem, 2.2vh, 1.5rem);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {
  font-size: 1.7rem;
  font-weight: 500;
}

/* Utility Classes */

.center {
  text-align: center;
}

.offscreen {
  position: absolute;
  left: -100000;
}

.nowrap {
  white-space: nowrap;
}

/* General Styles */

html {
  font-family: var(--ff);
  scroll-behavior: smooth;
  line-height: 1.5;
  overflow-x: hidden;
  font-size: 60%;
}

body {
  position: relative;
  font-size: var(--fs);
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Header */

.header {
  position: fixed;
  width: 100%;
  height: 10px;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 4rem 15%;
  background: rgba(8, 8, 8, 0.3);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--text-color);
  font-size: 3rem;
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

span {
  background: linear-gradient(270deg, #6f00ff, #ff1d15);
  background-clip: text;
  color: transparent;
}

.header__ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  gap: 4rem;
}

.header__ul a {
  font-size: 1.8rem;
  color: var(--text-color);
  font-weight: 500;
  transition: 0.3s ease-in-out;
  border-bottom: 3px solid transparent;
}

.header__ul a:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

/* Section */

section {
  min-height: 100vh;
  align-items: center;
}

/* Home */

.home {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 4rem;
  padding: 10rem 15%;
  background-color: var(--second-bg-color);
}

.home__h1 {
  font-size: 8rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.home__h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1rem;
  line-height: 1;
}

.home__p {
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8;
}

.main__img {
  width: 50vh;
}

.btn,
.link {
  background-color: var(--main-color);
  color: var(--text-color);
  box-shadow: 0 0 25px var(--main-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
  text-wrap: nowrap;
  border: none;
  margin-top: 1rem;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 50px var(--main-color);
}

/* About */

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
  padding: 10rem 15%;
}

.about__img {
  width: 50vh;
}

.tag {
  padding: 2rem;
  font-size: 2rem;
}

.about__h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  line-height: 1;
}

.about__p {
  font-size: 1.7rem;
  line-height: 1.8;
}

.about__ul {
  list-style-type: none;
  font-size: 1.7rem;
  padding: 1rem;
}

.about__ul li::before {
  content: "☑️";
  font-size: 2rem;
  margin-left: 1rem;
  margin-right: 0.5rem;
}

.about__btn {
  background-color: transparent;
  border: 2px solid var(--main-color);
  padding: 1rem 2rem;
  border-radius: 3rem;
  transition: 0.3s ease-in-out;
  text-wrap: nowrap;
}

.about__btn a {
  font-size: 1.7rem;
  color: var(--text-color);
}

.about__btn:hover {
  transform: scale(1.05);
  background-color: var(--main-color);
}

/* Projects */

.projects {
  background-color: var(--second-bg-color);
  text-align: center;
  padding: 10rem 15%;
}

.projects__article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  place-items: center;
  gap: 3rem;
  row-gap: 5rem;
}

.projects__h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  padding: 4rem;
  line-height: 1;
}

.projects-card h3 {
  font-size: 3rem;
}

.projects-card p {
  font-size: 1.7rem;
  text-align: start;
}

.projects-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 3rem;
  gap: 2rem;
  padding: 5rem 2rem;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 0 5px var(--main-color);
  transition: 0.3s ease-in-out;
}

.projects-card:hover {
  box-shadow: 0 0 50px var(--main-color);
  transform: scale(1.02);
}

.projects-card img {
  max-width: 300px;
}

/* Contact */

.contact {
  background-color: var(--bg-color);
  text-align: center;
  padding: 10rem 15%;
}

.contact__h2 {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 1.5rem;
  padding: 4rem;
  line-height: 1;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 5rem 0;
  text-align: center;
}

.input-box input,
.form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background-color: var(--bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}

/* Footer */
.footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: var(--second-bg-color);
  padding: 20px 0;
}

.footer__p {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
}

/* Media Query */
@media (max-width: 1285px) {
  .header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .logo {
    font-size: 2.5rem;
  }

  .header-title-line {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .home {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .main__img {
    max-width: 100%;
  }

  .about {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .about__img {
    max-width: 100%;
  }

  .projects {
    padding: 10%;
  }

  .projects-card {
    max-width: 100%;
    overflow: hidden;
    padding: 5rem;
  }

  .form {
    flex-direction: column;
  }

  .footer__p {
    font-size: 14px;
  }
}
